{% extends 'form_creation/base_form_creation.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Create a New Feedback Form</h1>
    <form method="post" action id="form">
        {% csrf_token %}
        {{ form.as_p }} <br>
        <label for="id_group_rel" id="new_question_label">New question:</label> <select name="new_question_type" id="new_question_type">
            <option value="1">Text</option>
            <option value="2">Textarea</option>
            <option value="3">Single choice</option>
            <option value="4">Multiple choice</option>
            <option value="5">Slider</option>
        </select>
        <input type="hidden" id="number_of_questions" name="number_of_questions" value="0">
        <button type="button" class="btn btn-success" id="addQuestionBtn" onclick="createNewElement();">Add question</button><br/>
        <button type="submit" class="btn btn-success">Create</button>
        <script type="text/JavaScript">
            var last_used_id = 0;
            var last_used_answer_id = [0];

            function createNewElement() {
                question_id = ++last_used_id;
                last_used_answer_id.push(0);
                document.getElementById("number_of_questions").value = last_used_id;

                var question_type = document.getElementById("new_question_type");

                var txtNewInputBox = document.createElement('p');

                txtNewInputBox.setAttribute("id", "question_"+question_id+"_p");
            
                txtNewInputBox.innerHTML = '<label for="question_'+question_id+'">'+question_id+'):</label> <input type="text" placeholder="How are you?" name="question_'+question_id+'_name" required id="question_'+question_id+'"></input>';
                
                if(question_type.value == 1){
                    txtNewInputBox.innerHTML += '(type: text)<br/>';
                    txtNewInputBox.innerHTML += '<input type="hidden" id="question_'+question_id+'_type" name="question_'+question_id+'_type" value="text">';
                }
                if(question_type.value == 2){
                    txtNewInputBox.innerHTML += '(type: textarea)<br/>';
                    txtNewInputBox.innerHTML += '<input type="hidden" id="question_'+question_id+'_type" name="question_'+question_id+'_type" value="textarea">';
                }
                if(question_type.value == 3){
                    txtNewInputBox.innerHTML += '(type: single choice)<br/>';
                    txtNewInputBox.innerHTML += '<input type="hidden" id="question_'+question_id+'_type" name="question_'+question_id+'_type" value="single_choice">';
                    txtNewInputBox.innerHTML += '<input type="hidden" id="question_'+question_id+'_num_answers" name="question_'+question_id+'_num_answers" value="1">';
                    last_used_answer_id[question_id]++;
                    txtNewInputBox.innerHTML += '<input type="text" placeholder="Answer '+last_used_answer_id[question_id]+'" name="question_'+question_id+'_answer_'+last_used_answer_id[question_id]+'" required id="question_'+question_id+'_answer_'+last_used_answer_id[question_id]+'"></input><br/>';
                    txtNewInputBox.innerHTML += '<button type="button" id="addAnswerBtn_'+question_id+'" onclick="addAnswer('+question_id+');">Add answer</button><br/>'
                }
                if(question_type.value == 4){
                    txtNewInputBox.innerHTML += '(type: multiple choice)<br/>';
                    txtNewInputBox.innerHTML += '<input type="hidden" id="question_'+question_id+'_type" name="question_'+question_id+'_type" value="multiple_choice">';
                    txtNewInputBox.innerHTML += '<input type="hidden" id="question_'+question_id+'_num_answers" name="question_'+question_id+'_num_answers" value="1">';
                    last_used_answer_id[question_id]++;
                    txtNewInputBox.innerHTML += '<input type="text" placeholder="Answer '+last_used_answer_id[question_id]+'" name="question_'+question_id+'_answer_'+last_used_answer_id[question_id]+'" required id="question_'+question_id+'_answer_'+last_used_answer_id[question_id]+'"></input><br/>';
                    txtNewInputBox.innerHTML += '<button type="button" id="addAnswerBtn_'+question_id+'" onclick="addAnswer('+question_id+');">Add answer</button><br/>'
                }
                if(question_type.value == 5){
                    txtNewInputBox.innerHTML += '(type: slider)<br/>';
                    txtNewInputBox.innerHTML += '<input type="hidden" id="question_'+question_id+'_type" name="question_'+question_id+'_type" value="slider">';
                    txtNewInputBox.innerHTML += '<label for="question_'+question_id+'_begin">Start:</label> <input type="number" placeholder="1" name="question_'+question_id+'_begin" required id="question_'+question_id+'_begin"></input>';
                    txtNewInputBox.innerHTML += ' <label for="question_'+question_id+'_end">End:</label> <input type="number" placeholder="10" name="question_'+question_id+'_end" required id="question_'+question_id+'_end"></input>';
                    txtNewInputBox.innerHTML += ' <label for="question_'+question_id+'_step">Step:</label> <input type="number" placeholder="1" name="question_'+question_id+'_step" required id="question_'+question_id+'_step"></input><br/>';
                }

                document.getElementById("form").insertBefore(txtNewInputBox, document.getElementById("new_question_label"));
            }

            function addAnswer(question_id){
                last_used_answer_id[question_id]++;
                document.getElementById("question_"+question_id+"_num_answers").value = last_used_answer_id[question_id];

                var div = document.createElement('div');
                div.innerHTML = '<input type="text" placeholder="Answer '+last_used_answer_id[question_id]+'" name="question_'+question_id+'_answer_'+last_used_answer_id[question_id]+'" required id="question_'+question_id+'_answer_'+last_used_answer_id[question_id]+'"></input><br/>';
                document.getElementById("question_"+question_id+"_p").insertBefore(div.firstChild, document.getElementById("addAnswerBtn_"+question_id));

                div = document.createElement('div');
                div.innerHTML = "<br/>";
                document.getElementById("question_"+question_id+"_p").insertBefore(div.firstChild, document.getElementById("addAnswerBtn_"+question_id));
            }
            </script>
    </form>
{% endblock %}
