{% extends 'home/base.html' %}
{% block context %}
    <header style="margin-left: 5px; margin-right: 5px;">
        <button class="logout_btn">log out</button>
    </header>
    <div class = "txt_under_header"><h1>Write a feedback. Get results!</h1></div>
    <div class = "main_div">
        <div style="border: 1px solid; height: 100%; padding: 20px;">
            <h1 style="text-align: center; margin-bottom: 50px;">Available feedback forms:</h1>
            <div class="link_to_form"><a href="">Link 1</a></div>
            <div class="link_to_form"><a href="">Link 2</a></div>
            <div class="link_to_form"><a href="">Link 3</a></div>
            <div class="link_to_form"><a href="">Link 4</a></div>
            <div class="link_to_form"><a href="">Link 5</a></div>
        </div>
    </div>
{% endblock %}

