{% extends 'home/base_professor.html' %}

{% block title %}
    Main Page
{% endblock %}

{% block content %}
    <h1>Main Page For Professor</h1>
    <a class="btn btn-primary" href="/create">Create</a>
    <br><br>

    {% for feedbackform in feedbackforms_pool %}
        <a href="/feedbacks/feedback/{{ feedbackform.id }}/">
            {{ feedbackform.name }}</a>
        <br>
    {% endfor %}
    <br>

    {% for course in courses %}
    <li>{{ course.course_name }}</li>
        {% for group in course.groups.all %}
            {{ group.group_name }}<br>
            {% for feedbackform in feedbackforms_pool %}
                {% if feedbackform.group_rel == group %}
                    <a href="/feedbacks/feedback/{{ feedbackform.id }}/">
                        {{ feedbackform.name }}</a>
                    <br>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}
